<div class="container">
  <div class="total-amount">
    <h3>總金額：</h3>
  </div>
  <ul class="list-group-item">
    {{#each records}}
    <li class="list group-item" style="list-style-type: none;">
      <div class="row">
        <div class="row mr-auto">
          <div class="icon mr-auto">
            <i class="
              {{#ifEquals this.category '家居物業'}}fas fa-home fa-2x{{/ifEquals}}
              {{#ifEquals this.category '交通出行'}}fas fa-shuttle-van fa-2x{{/ifEquals}}
              {{#ifEquals this.category '休閒娛樂'}}fas fa-grin-beam fa-2x{{/ifEquals}}
              {{#ifEquals this.category '餐飲食品'}}fas fa-utensils fa-2x{{/ifEquals}}
              {{#ifEquals this.category '其他'}}fas fa-pen fa-2x{{/ifEquals}}
            "></i>
          </div>
          <div class="col">
            <h4>{{this.name}}</h4>
            <h6>{{this.date}}</h6>
          </div>
          <div class="amount">
            {{{this.amount}}}
          </div>
        </div>
        <div class="button">
          <a href="./records/{{this._id}}/edit" style="text-decoration: none;">
            <button type="button" class="btn btn-success">修改</button>
          </a>
          <form action="./records/{{this._id}}/delete" method="POST" style="display: inline">
            <button type="submit" class="btn btn-danger">刪除</a>
          </form>
        </div>
    </li>
    {{/each}}
  </ul>
  <a href="./records/new" type="button" class="btn btn-danger">新增支出</a>
</div>